@model CodingCraftHOMod1Ex1EF.Models.ProdutoFornecedor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProdutoFornecedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fornecedor.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fornecedor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoCompra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProdutoFornecedorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
