@using CodingCraftHOMod1Ex1EF.ViewModel
@model IList<MovimentacaoFornecedorsPesquisaModel>
@{
    ViewBag.Title = "Fornecedores";
}

<h2>Fornecedores</h2>

<div class="container">
    <h2>Entradas</h2>
  
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fornecedor</th>
                <th>Produto</th>
                <th>Data</th>
                <th>Quantidade</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FornecedorNome </td>
                    <td>@item.ProdutoNome</td>
                    <td>@item.Data </td>
                   
                    <td>@item.Quantidade</td>
                    <td>@item.Valor  </td>
                    
                </tr>                     
           
        </tbody>
    </table>
</div>